.container {
  width: 21%;
  min-width: 296px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-right: 13px;
  padding-left: 24px;
  background-color: #FFF;
  border-radius: 3px;
}

.gradient {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #4568DC 0%, #B06AB3 100%), #EF8E48;
}

.header {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.secondHeader {
  margin-top: 12px;
  margin-right: 8px;
  font-weight: 400;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
  margin-left: auto;
  margin-right: auto;
  width: 178px;
  height: 43px;
  border: 1px solid #DDD;
  border-radius: 40px;
  color: #000;
  background-color: #FFF;
  cursor: pointer;
}

.buttonText {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: #000;
  opacity: 0.64;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  cursor: pointer;
  
}
